<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./view/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script defer src="./view/node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <script src="./view/node_modules/chart.js/dist/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <link rel="stylesheet" href="./view/static/css/main.css">
    <title>RayVol V.B01</title>
</head>

<header>
    <!-- <div class="bg-primary bg-gradient" id="navbarHeader">
    </div> -->
    <div class="navbar navbar-dark bg-primary bg-gradient shadow-sm" style="height: 50px;">
        <div class="container" style="max-width: 90%;">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <h4 class="text-white justify-content-center">RayVol V.B01</h4>
            </div>
            <!-- <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="d-flex flex-row">
                <a class="nav-link" href="http://localhost:5000/">
                    <span style="font-size: 28px; color: white;">
                        <i class="fas fa-home"></i>
                    </span>
                </a>
                <a class="nav-link" href="http://localhost:5000/config">
                    <span style="font-size: 28px; color: white;">
                        <i class="fas fa-cog"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</header>

<body>
    <div class="container-fluid" style="max-height: 1030px;">

        <div class="row container-fluid" style="max-height: 90%;">
            <!-- <div class="col-8">
                <img src="./view/static/img/mock.jpg" alt="test" style="width: 1024px; height: 768px;">
                <img src="./view/static/img/mock.jpg" alt="test" style="max-width: 100%;">
            </div>
            <div class="col-4">
                <label for="customRange1" class="form-label">Example range</label>
                <input type="range" class="form-range" min="0" max="255" id="slider1">
            </div> -->

            <div class="d-flex flex-row" style="height: 768px; width: 100%; ">
                <div class="d-flex flex-row" style="width: 70%;">
                    <!-- <img id="img-stream" src="{{ url_for('video_feed') }}" alt="test" style="max-width: 100%;">
                    <img id="img-subtractBg" src="{{ url_for('subtract_background') }}" alt="test" style="max-width: 100%;"> -->
                    <img id="img-stream" src="./view/static/img/mock.jpg" alt="test" style="max-width: 100%;">
                </div>

                <div class="d-flex flex-column px-5">
                    <canvas id="histH" width="340" height="240"></canvas>
                    <canvas id="histS" width="340" height="240"></canvas>
                    <canvas id="histV" width="340" height="240"></canvas>
                </div>

                <div class="d-flex flex-column">

                    <div class="d-flex flex-column px-5" style="width: 350px">

                        <!-- Subtract Bitwise Threshold -->
                        <div class="row border-bottom pt-4">
                            <span class="text-white">View Setting (Top down process)</span>
                        </div>

                        <div class="d-flex flex-column pt-3">
                            <div class="btn-group-vertical" role="group" name="radioGroup"
                                aria-label="Basic radio toggle button group">

                                <input class="btn-check" type="radio" name="btnradio" value="rawImage" id="swtRawImage"
                                    autocomplete="off" checked>
                                <label class="btn btn-outline-primary text-white" for="swtRawImage">RawImage</label>

                                <input class="btn-check" type="radio" name="btnradio" value="subtractBackground"
                                    id="swtSubtractBackground" autocomplete="off">
                                <label class="btn btn-outline-primary text-white" for="swtSubtractBackground">Subtract
                                    Background Image</label>

                                <input class="btn-check" type="radio" name="btnradio" value="binaryImage"
                                    id="swtBinaryImage" autocomplete="off">
                                <label class="btn btn-outline-primary text-white" for="swtBinaryImage">Binary
                                    Image</label>

                                <input class="btn-check" type="radio" name="btnradio" value="andImage" id="swtAndImage"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary text-white" for="swtAndImage">And Operator</label>

                                <input class="btn-check" type="radio" name="btnradio" value="morphologyImage"
                                    id="swtMorphology" autocomplete="off">
                                <label class="btn btn-outline-primary text-white" for="swtMorphology">Morphology
                                    Result</label>

                                <input class="btn-check" type="radio" name="btnradio" value="segmentImage"
                                    id="swtObjResultSegment" autocomplete="off">
                                <label class="btn btn-outline-primary text-white" for="swtObjResultSegment">Segmentation
                                    Result</label>

                                <input class="btn-check" type="radio" name="btnradio" value="objImage" id="swtObjImage"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary text-white" for="swtObjImage">Object
                                    Extraction</label>

                                <input class="btn-check" type="radio" name="btnradio" value="shadowImage"
                                    id="swtShadowImage" autocomplete="off">
                                <label class="btn btn-outline-primary text-white" for="swtShadowImage">Shadow
                                    Extraction</label>
                            </div>
                        </div>

                        <!-- Subtact Binary Threshold -->
                        <div class="row border-bottom pt-4">
                            <span class="text-white">Subtact Binary Threshold</span>
                        </div>

                        <div class="row pt-2">
                            <div class="col-8">
                                <input type="range" class="form-range align-middle" min="0" max="255" id="subTreshVal">
                            </div>
                            <div class="col-4">
                                <input type="text" id="subTreshValText" class="inputTextBox">
                            </div>
                        </div>

                        <!-- ImageAnd binary Threshold -->
                        <div class="row border-bottom pt-4">
                            <span class="text-white">ImageAnd Binary Threshold</span>
                        </div>

                        <div class="row pt-2">
                            <div class="col-8">
                                <input type="range" class="form-range align-middle" min="0" max="255"
                                    id="imgAndTreshVal">
                            </div>
                            <div class="col-4">
                                <input type="text" id="imgAndTreshValText" class="inputTextBox">
                            </div>
                        </div>

                        <!-- Median Blur -->
                        <div class="row border-bottom pt-4">
                            <span class="text-white">Median Blur</span>
                        </div>

                        <div class="row pt-2 ">
                            <div class="col-8">
                                <input type="range" class="form-range align-middle" min="0" max="15" value="9"
                                    id="medBlurVal">
                            </div>
                            <div class="col-4">
                                <input type="text" id="medBlurValText" class="inputTextBox">
                            </div>
                        </div>

                        <!-- Object and Shadow Threshold -->
                        <div class="row border-bottom pt-4">
                            <span class="text-white">Obj and Shadow Treshold</span>
                        </div>

                        <div class="row pt-2 pb-4">
                            <div class="col-8">
                                <input type="range" class="form-range align-middle" min="0" max="255"
                                    id="objShadowTreshVal">
                            </div>
                            <div class="col-4">
                                <input type="text" id="objShadowTreshValText" class="inputTextBox">
                            </div>
                        </div>

                        <div class="d-flex flex-row border-top pt-1 justify-content-between">
                            <div class="d-flex justify-content-around ">
                                <button type="button" class="btn btn-primary" onclick="saveParams()">Save
                                    Parameters</button>
                            </div>

                            <div class="d-flex justify-content-around">
                                <button type="button" class="btn btn-primary" onclick="saveCapture()">Capture</button>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

            <div class="row">
                <div class="d-flex justify-content-around">
                    <img id="img-stream" src="./view/static/img/mock.jpg" alt="test" style="width: 20%;">
                    <img id="img-stream" src="./view/static/img/mock.jpg" alt="test" style="width: 20%;">
                    <img id="img-stream" src="./view/static/img/mock.jpg" alt="test" style="width: 20%;">
                </div>

            </div>
        </div>
    </div>
    <script>
        function postjsonServ(value) {
            var req = new XMLHttpRequest();
            req.open('POST', "/requests", true);
            req.setRequestHeader('content-type', 'application/json');
            req.onload = function (e) {
                if (req.readyState === 4 && req.status === 200) {
                    // var JSON_received = JSON.parse(req.responseText);
                    //handle received JSON here
                } else {
                    console.log(req.responseText);
                }
            };
            // req.send(id + "=" + value);
            req.send(JSON.stringify(value));
        }

    </script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="./view/static/js/plot.js"></script>
    <script src="./view/static/js/script.js"></script>
</body>

</html>