<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./view/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script defer src="./view/node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <script src="./view/node_modules/chart.js/dist/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="./view/node_modules/socket.io/client-dist/socket.io.js"></script>
    <link rel="stylesheet" href="./view/node_modules/nouislider/dist/nouislider.min.css">
    <link rel="stylesheet" href="./view/static/css/main.css">
    <title>RayVol V.B01</title>
</head>

<header>
    <!-- <div class="bg-primary bg-gradient" id="navbarHeader">
    </div> -->
    <div class="navbar navbar-dark bg-primary bg-gradient shadow-sm" style="height: 50px;">
        <div class="container" style="max-width: 90%;">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <h4 class="text-white justify-content-center">RayVol V.B01</h4>
            </div>
            <!-- <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="d-flex flex-row">
                <a class="nav-link" href="http://localhost:5000/">
                    <span style="font-size: 28px; color: white;">
                        <i class="fas fa-home"></i>
                    </span>
                </a>
                <a class="nav-link" href="http://localhost:5000/config">
                    <span style="font-size: 28px; color: white;">
                        <i class="fas fa-cog"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</header>

<body>

    <div class="container-fluid" style="max-height: 920px;">
        <div class="d-flex flex-row" style="max-height: 920px;">
            <div class="process-view d-flex flex-column overflow-auto" style="width: 15%; height: 57%;">
                <!-- <img class="py-2" id="img-stream" src="{{ url_for('raw_feed') }}" alt="test"
                    style="max-width: 100%; object-fit: contain;"> -->
                <!-- <img class="py-2" id="img-stream" src="{{ url_for('imgand') }}" alt="test"
                    style="max-width: 100%; object-fit: contain;"> -->
                <img class="py-2" id="img-stream" src="{{ url_for('imgmorph') }}" alt="test"
                    style="max-width: 100%; object-fit: contain;">
                <img class="py-2" id="img-stream" src="{{ url_for('imgsegentedcrop') }}" alt="test"
                    style="max-width: 100%; object-fit: contain;">

                <!-- <img class="py-2" id="img-stream" src="./view/static/img/mock.jpg" alt="test"
                    style="max-width: 100%; object-fit: contain;">
                <img class="py-2" id="img-stream" src="./view/static/img/mock.jpg" alt="test"
                    style="max-width: 100%; object-fit: contain;">
                <img class="py-2" id="img-stream" src="./view/static/img/mock.jpg" alt="test"
                    style="max-width: 100%; object-fit: contain;">
                <img class="py-2" id="img-stream" src="./view/static/img/mock.jpg" alt="test"
                    style="max-width: 100%; object-fit: contain;"> -->
            </div>
            <div class="d-flex flex-column" style="width: 65%; padding-left: 1%;">
                <div class="row d-flex flex-row" style="height: 57%;">
                    <div class="row d-flex flex-row" style="width: 65%; max-height: 100%;">
                        <img class="px-2" id="img-stream" src="./view/static/img/mock.jpg" alt="test"
                            style="height: 100%; object-fit: contain;">
                    </div>

                </div>
                <div class="d-flex flex-column mt-2 ms-2 border-top border-3 border-warning" style="height: 20%;">

                    <!-- <div class="col-3 d-flex flex-row">
                        <canvas class="mx-2 border-end border-2 border-warning" id="histH" style="width:50%;height:50%;"></canvas>
                    </div>
                    <div class="col-4">
                        <canvas class="mx-2 border-end border-2 border-warning" id="histS" style="width:80%;height:80%;"></canvas>
                    </div>
                    <div class="col-4">
                        <canvas class="mx-2 border-end border-2 border-warning" id="histV" style="width:80%;height:80%;"></canvas>
                    </div> -->
                    <div class="row px-3" style="height: 20%;">
                        <span class="text-white">Object Segmentation</span>
                    </div>
                    <div class="d-flex flex-row" style="height: 80%;">
                        <div class="d-flex flex-row" style="width: 15%; height: 100%;">
                            <img class="py-2" id="img-stream" src="{{ url_for('imgroi') }}" alt="test"
                                style="max-width: 100%; object-fit: contain;">
                        </div>
                        <div class="d-flex flex-row" style="width: 15%; max-height: 100%;">
                            <img class="py-2" id="img-stream" src="{{ url_for('imgshadowonobj') }}" alt="test"
                                style="max-width: 100%; object-fit: contain;">
                        </div>
                        <div class="d-flex flex-column mx-2 border-end border-2 border-warning" style="width: 30%;">
                            <div style="width: 80%;"><canvas id="histObjH" style="width:50%;height:40%;"></canvas></div>
                            <div class="slider-styled slider-round slider-hsv" type="slider_hsv" id="slider-h-obj">
                            </div>
                        </div>
                        <div class="d-flex flex-column mx-2 border-end border-2 border-warning" style="width: 30%;">
                            <div style="width: 80%;"><canvas id="histObjS" style="width:50%;height:40%;"></canvas></div>
                            <div class="slider-styled slider-round slider-hsv" type="slider_hsv" id="slider-s-obj">
                            </div>
                        </div>
                        <div class="d-flex flex-column" style="width: 30%;">
                            <div style="width: 80%;"><canvas id="histObjV" style="width:50%;height:40%;"></canvas></div>
                            <div class="slider-styled slider-round slider-hsv" type="slider_hsv" id="slider-v-obj">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column mt-2 ms-2 border-top border-3 border-warning" style="height: 20%;">
                    <div class="row px-3" style="height: 20%;">
                        <span class="text-white">Shadow on Object Segmentation</span>
                    </div>
                    <div class="d-flex flex-row" style="height: 80%;">
                        <div class="d-flex flex-row" style="width: 30%; max-height: 100%;">
                            <div class="d-flex flex-row" style="width: 33%; max-height: 100%;">
                                <img class="py-2" id="img-stream" src="{{ url_for('imgshadow') }}" alt="test"
                                style="max-width: 100%; object-fit: contain;">
                            </div>
                        </div>
                        <div class="d-flex flex-column mx-2 border-end border-2 border-warning" style="width: 30%;">
                            <div style="width: 80%;"><canvas id="histShadowH" style="width:50%;height:40%;"></canvas>
                            </div>
                            <div class="slider-styled slider-round slider-hsv" type="slider_hsv" id="slider-h-shadow">
                            </div>
                        </div>
                        <div class="d-flex flex-column mx-2 border-end border-2 border-warning" style="width: 30%;">
                            <div style="width: 80%;"><canvas id="histShadowS" style="width:50%;height:40%;"></canvas>
                            </div>
                            <div class="slider-styled slider-round slider-hsv" type="slider_hsv" id="slider-s-shadow">
                            </div>
                        </div>
                        <div class="d-flex flex-column" style="width: 30%;">
                            <div style="width: 80%;"><canvas id="histShadowV" style="width:50%;height:40%;"></canvas>
                            </div>
                            <div class="slider-styled slider-round slider-hsv" type="slider_hsv" id="slider-v-shadow">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column border-start border-3 border-warning"
                style="width: 15%; padding-left: 1%; padding-right: 0;">
                <div class="btn-group-vertical pt-4" role="group" name="radioGroup"
                    aria-label="Basic radio toggle button group">

                    <input class="btn-check" type="radio" name="btnradio" value="2dImage" id="swt2dImage"
                        autocomplete="off" checked>
                    <label class="btn btn-outline-primary text-white" for="swt2dImage">2D Image</label>

                    <input class="btn-check" type="radio" name="btnradio" value="3dReconstuction"
                        id="swt3dReconstruction" autocomplete="off">
                    <label class="btn btn-outline-primary text-white" for="swt3dReconstruction">3D
                        Reconstruction</label>

                    <input class="btn-check" type="radio" name="btnradio" value="sliceImage" id="swtSliceImage"
                        autocomplete="off">
                    <label class="btn btn-outline-primary text-white" for="swtSliceImage">Slice Image</label>

                    <input class="btn-check" type="radio" name="btnradio" value="rayTracing" id="swtRayTracing"
                        autocomplete="off">
                    <label class="btn btn-outline-primary text-white" for="swtRayTracing">Ray Tracing</label>
                </div>

                <!-- Subtact Binary Threshold -->
                <div class="row border-bottom pt-4">
                    <span class="text-white">Subtact Binary Threshold</span>
                </div>

                <div class="row pt-2">
                    <div class="col-8">
                        <input type="range" class="form-range align-middle" min="0" max="255" id="subtractTreshVal">
                    </div>
                    <div class="col-4">
                        <input type="text" id="subtractTreshValText" class="inputTextBox">
                    </div>
                </div>

                <!-- ImageAnd binary Threshold -->
                <div class="row border-bottom pt-4">
                    <span class="text-white">ImageAnd Binary Threshold</span>
                </div>

                <div class="row pt-2">
                    <div class="col-8">
                        <input type="range" class="form-range align-middle" min="0" max="255" id="imgAndTreshVal">
                    </div>
                    <div class="col-4">
                        <input type="text" id="imgAndTreshValText" class="inputTextBox">
                    </div>
                </div>

                <!-- Median Blur -->
                <div class="row border-bottom pt-4">
                    <span class="text-white">Median Blur</span>
                </div>

                <div class="row pt-2 ">
                    <div class="col-8">
                        <input type="range" class="form-range align-middle" min="1" max="15" step="2" value="9"
                            id="medBlurVal">
                    </div>
                    <div class="col-4">
                        <input type="text" id="medBlurValText" class="inputTextBox">
                    </div>
                </div>

                <!-- Object and Shadow Threshold -->
                <div class="row border-bottom pt-4">
                    <span class="text-white">Obj and Shadow Treshold</span>
                </div>

                <div class="row pt-2 pb-4">
                    <div class="col-8">
                        <input type="range" class="form-range align-middle" min="0" max="255" id="objShadowTreshVal">
                    </div>
                    <div class="col-4">
                        <input type="text" id="objShadowTreshValText" class="inputTextBox">
                    </div>
                </div>

                <div class="d-flex flex-row border-top pt-1 justify-content-between">
                    <div class="d-flex justify-content-around ">
                        <button type="button" class="btn btn-primary" onclick="saveParams()">Save
                            Parameters</button>
                    </div>

                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-primary" onclick="saveCapture()">Capture</button>
                    </div>
                </div>
            </div>
            <!-- <div class="col-3" style="max-height: 100%;">


            </div> -->
        </div>
    </div>
    <script>
        var subtractTreshVal = document.getElementById("subtractTreshVal"),
            imgAndTreshVal = document.getElementById("imgAndTreshVal"),
            medBlurVal = document.getElementById("medBlurVal"),
            objShadowTreshVal = document.getElementById("objShadowTreshVal"),
            subtractTreshValText = document.getElementById("subtractTreshValText"),
            imgAndTreshValText = document.getElementById("imgAndTreshValText"),
            medBlurValText = document.getElementById("medBlurValText"),
            objShadowTreshValText = document.getElementById("objShadowTreshValText");

        var objHsvData = {
            "hue": {
                "max": 0,
                "min": 0
            },
            "saturation": {
                "max": 0,
                "min": 0
            },
            "value": {
                "max": 0,
                "min": 0
            }
        }

        var shadowHsvData = {
            "hue": {
                "max": 0,
                "min": 0
            },
            "saturation": {
                "max": 0,
                "min": 0
            },
            "value": {
                "max": 0,
                "min": 0
            }
        }

        function postjsonServ(value) {
            var req = new XMLHttpRequest();
            req.open('POST', "/requests", true);
            req.setRequestHeader('content-type', 'application/json');
            req.onload = function (e) {
                if (req.readyState === 4 && req.status === 200) {
                    // var JSON_received = JSON.parse(req.responseText);
                    //handle received JSON here
                } else {
                    // console.log(req.responseText);
                }
            };
            // req.send(id + "=" + value);
            req.send(JSON.stringify(value));
        }

        // console.log(xmr)

        var socket = io();
        socket.on('connect', function () {
            socket.emit('socket-initilized', { data: 'I\'m connected!' });
        });

        socket.on('data-params', function (data) {
            var data = JSON.parse(data)
            updateSubtractTreshVal(data.subtractTreshVal);
            updateImgAndBinTreshold(data.imgAndBinTreshVal);
            updateMedBlurVal(data.medianBlur);
            updateObjShadowTreshVal(data.objShadowTreshVal);
        });

        socket.on('data-obj-hsv', function (data) {
            var data = JSON.parse(data)
            document.querySelectorAll('[type=slider_hsv]').forEach(
                slider_hsv => {
                    switch (slider_hsv.id) {
                        case "slider-h-obj":
                            slider_hsv.noUiSlider.set([data.slider_h_obj.min, data.slider_h_obj.max]);
                            break;
                        case "slider-s-obj":
                            slider_hsv.noUiSlider.set([data.slider_s_obj.min, data.slider_s_obj.max]);
                            break;
                        case "slider-v-obj":
                            slider_hsv.noUiSlider.set([data.slider_v_obj.min, data.slider_v_obj.max]);
                            break;
                        case "slider-h-shadow":
                            slider_hsv.noUiSlider.set([data.slider_h_shadow.min, data.slider_h_shadow.max]);
                            break;
                        case "slider-s-shadow":
                            slider_hsv.noUiSlider.set([data.slider_s_shadow.min, data.slider_s_shadow.max]);
                            break;
                        case "slider-v-shadow":
                            slider_hsv.noUiSlider.set([data.slider_v_shadow.min, data.slider_v_shadow.max]);
                            break;
                        default: ;
                    }
                }
            );
        });

        socket.on('hsv-obj-data', function (data) {
            var JSON_received = JSON.parse(data);
            // console.log(JSON_received);
            if (chart_histObjH instanceof Chart) {
                chart_histObjH.options.scales.y.max = JSON_received.hist_h_ymax
                chart_histObjH.data.datasets[0].data = JSON_received.hist_h[0];
                chart_histObjH.update();
            }
            if (chart_histObjS instanceof Chart) {
                chart_histObjS.options.scales.y.max = JSON_received.hist_s_ymax
                chart_histObjS.data.datasets[0].data = JSON_received.hist_s[0];
                chart_histObjS.update();
            }
            if (chart_histObjV instanceof Chart) {
                chart_histObjV.options.scales.y.max = JSON_received.hist_v_ymax
                chart_histObjV.data.datasets[0].data = JSON_received.hist_v[0];
                chart_histObjV.update();
            }
        });

        socket.on('hsv-shadow-data', function (data) {
            var JSON_received = JSON.parse(data);
            console.log(JSON_received);
            // if (chart_histShadowH instanceof Chart) {
                chart_histShadowH.options.scales.y.max = JSON_received.hist_h_ymax
                chart_histShadowH.data.datasets[0].data = JSON_received.hist_h[0];
                chart_histShadowH.update();
            // }
            if (chart_histShadowS instanceof Chart) {
                chart_histShadowS.options.scales.y.max = JSON_received.hist_s_ymax
                chart_histShadowS.data.datasets[0].data = JSON_received.hist_s[0];
                chart_histShadowS.update();
            }
            if (chart_histShadowV instanceof Chart) {
                chart_histShadowV.options.scales.y.max = JSON_received.hist_v_ymax
                chart_histShadowV.data.datasets[0].data = JSON_received.hist_v[0];
                chart_histShadowV.update();
            }
        });

    </script>
    <script src="./view/node_modules/nouislider/dist/nouislider.min.js"></script>
    <script src="./view/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="./view/static/js/plot.js"></script>
    <script src="./view/static/js/script.js"></script>
    <script src="./view/static/js/slider.js"></script>
</body>

</html>