<div class="d-flex flex-column pt-3">
    <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group">
        <input class="btn-check" type="radio" id="swtRawImage" autocomplete="off"
            onchange="swtRawImage_onChange()">
        <label class="btn btn-outline-primary text-white" for="swtRawImage">Raw
            Image</label>
    
    
        <input class="btn-check" type="radio" id="swtSubtractBackground" autocomplete="off" 
            onchange="swtSubtractBackground_onChange()">
        <label class="btn btn-outline-primary text-white" for="swtSubtractBackground">Subtract
            Background Image</label>
    
    
        <input class="btn-check" type="radio" id="swtBinaryImage" autocomplete="off"
            onchange="swtBinaryImage_onChange()">
        <label class="btn btn-outline-primary text-white" for="swtBinaryImage">Binary
            Image</label>
    
    
        <input class="btn-check" type="radio" id="swtAndImage" autocomplete="off"
            onchange="swtAndImage_onChange()">
        <label class="btn btn-outline-primary text-white" for="swtAndImage">And
            Operator</label>
    
    
        <input class="btn-check" type="radio" id="swtMorphology" autocomplete="off"
            onchange="swtMorphology_onChange()">
        <label class="btn btn-outline-primary text-white" for="swtMorphology">Morphology
            Result</label>
    
    
        <input class="btn-check" type="radio" id="swtObjResultSegment" autocomplete="off"
            onchange="swtObjResultSegment_onChange()">
        <label class="btn btn-outline-primary text-white" for="swtObjResultSegment">Segmentation
            Result</label>
    
    
        <input class="btn-check" type="radio" id="swtObjImage" autocomplete="off"
            onchange="swtObjImage_onChange()">
        <label class="btn btn-outline-primary text-white" for="swtObjImage">Object
            Extraction</label>
    
            
        <input class="btn-check" type="radio" id="swtShadowImage" autocomplete="off"
            onchange="swtShadowImage_onChange()">
        <label class="btn btn-outline-primary text-white" for="swtShadowImage">Shadow
            Extraction</label>
    </div>
</div>